<% include layout_header.html %>
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>分类列表</span></li>
</ol>
<h3>分类列表</h3>
<table class="table table-hover table-striped table-responsive table-bordered">
    <tr>
        <th>ID</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    <% for(var category of categories){ %>
    <tr>
        <td><%= category._id %></td>
        <td><%= category.name %></td>
        <td>
            <a href="/admin/category_edit?id=<%= category._id %>">修改</a>
            <a href="/admin/category_delete?id=<%= category._id %>">删除</a>
        </td>
    </tr>
    <% } %>
</table>
<ul class="pager">
    <li class="previous"><a href="/admin/category?page=<%= (page-1) %>">&larr; 上一页</a></li>
    <li>
        一共有<a><%= count %></a>条数据，每页显示<a><%= limit %></a>条数据，共<a><%= pages %></a>页，当前为第<a><%= (page) %></a>页
    </li>
    <li class="next"><a href="/admin/category?page=<%= (page+1) %>">下一页 &rarr;</a></li>
</ul>
<% include layout_footer.html %>