/* =============================================================
  通用样式
 ============================================================ */
textarea{
    overflow-y:visible;
    resize: none;

}
/* =============================================================
  错误页面样式
 ============================================================ */
.err-btn a{
    color: #fff;
}
/* =============================================================
   admin\index.html
 ============================================================ */
.admin-body{
    font-size: 30px;
    color: #fff;
    line-height: 92vh;
    text-align: center;
    height:92vh;
    width:100vw;
    background-image: url("../images/backend_bg.jpg");
}
/* =============================================================
   bootstrap 样式覆盖
 ============================================================ */
.navbar{
    margin-bottom: 0;
}